
mixin avatarList(users)
    div.avatar-box
        .user-avatar__list
            each user in users
                  a.user-avatar(href=`/users/${user.id}` username=user.name style="background-image: url(" + user.avatarURL + ");")