include avatar-list

mixin chatRoom(room, avatars)
    div.room-card
        div.room-card__header
            span.room-name= room.name
            span.usersCount= room.Users.length + " users"
        +avatarList(room.Users)
        div.button-container
            button.join-room(type="button" data-room-id=room.id) Join
            if loggedInUser.id == room.hostId
                button.delete-room(type="button" data-room-id=room.id) Delete