mixin chatRoom(room)
    div
        h4
            a(href=`/chats/${room.id}`)= room.name
        ul  
            li #{room.name}
            li #{room.max}    
            if room.Users && room.Users.length > 0
                each user in room.Users
                    li #{user.username}
            else
                li There is no user in this room