include avatar-list

mixin chatRoom(room, avatars)
    div.list-room
        a(href=`/chats/${room.id}`)= room.name
        +avatarList(room.Users)   
        if room.Users && room.Users.length > 0
        else
            span There is no user in this room