mixin navigator(loggedInUser)
    nav.center
        ul
            if loggedIn
                li
                    a(href=`/users/${loggedInUser.id}`) My Profile
                li
                    a(href="/users/logout") Logout
                li
                    a(href="/chats/create") Create Room
            else
                li
                    a(href="/users/login") Login
                li
                    a(href="/users/join") Join