doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1")
        title #{pageTitle} | Web Kakao Talk
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel='stylesheet', href='/css/style.css')
    body
        div.container
            header
                h1=pageTitle
            main
                div.center
                    div.home-link
                        a.homeLink(href="/") Home  
                    if errorMessage
                        span=errorMessage
                    block content
        block scripts