extends base.pug

block content
    h4 Chage Title of the Room
    form(method="POST")
        input(type="text", name="title", placeholder="Enter the title of the room")
        button(type="submit") Change Title