doctype html
mixin message(chat)
  li #{chat.userId}

head
  meta(charset='utf-8')
  title Document
  script(src='/socket.io/socket.io.js')
  script(src='/chatRoomSocket.js')
body
  div 사용자 : 
    input.userID(type='text')
    br
    ul.chatting-list

    input.chatting-input(type='text')
    button.send-button 전송