.room-card {
  border-radius: 20px;
  top: 0;
  left: 50%;
  max-width: 500px;
  height: 100%;
  background: linear-gradient(0, #42a5f5, #ffff);
  border: 1px solid #ddd;
  align-items: center;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.delete-room,
.join-room {
  padding: 8px 15px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* transition: background-color 0.3s ease; */
}

.join-room {
  background-color: #4caf50;
}

.join-room:hover {
  background-color: #45a049;
}

.delete-room {
  background-color: #f44336;
}

.delete-room:hover {
  background-color: #d73829;
}

/* div.room-card__header
            span.room-name(href=`/chats/${room.id}`)= room.name
            span.usersCount= room.Users.length + " users" */

.room-card__header {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background: var(--blue-gradient);
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.host-name {
  font-size: 0.9em;
  color: #eee;
  text-decoration: none;
  padding-left: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.usersCount {
  font-size: 0.9em; /* Smaller font size for user count */
  color: #eee; /* Lighter color for less emphasis */
  padding-right: 10px; /* Padding to the right */
}
