@import "variables.css";
@import "animations.css";

@import "avatars.css";
@import "chatRoom.css";
@import "roomList.css";

/* QuickReset */
* {
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  overflow: hidden;
}
