@import "variables.css";
@import "animations.css";

@import "avatars.css";
@import "chatRoom.css";
@import "roomCard.css";

/* QuickReset */
* {
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  overflow: hidden;
}

.homeLink {
  position: absolute;
  /* Assuming you want to center it horizontally */
  left: 50%;

  /* Assuming you want to center it vertically as well */
  /* Replace 50px with the amount you want to move to the left */
  transform: translate(-50%) translateX(-170px) translateY(-50%);
}
