extends ../base

block content
    div.chat
    div.input
        if loggedIn
            input.chatting-input(type='text')
            button.send-button Send
block scripts
    script(src='/socket.io/socket.io.js')  
    script(src='/js/chatRoomSocket.js')
    script.
        var chatRoom = !{JSON.stringify(chatRoom)};
        var user = !{JSON.stringify(loggedInUser)};
        var loggedIn = !{JSON.stringify(loggedIn)};