extends ../base

block content
    h3 host : #{chatRoom.host.name}
    div.chat
    if loggedIn
        form#chat-form
            input(placeholder="message", required, type="text")
            input(type="submit", value="Send")
block scripts
    script(src="/socket.io/socket.io.js")  
    script(src="/static/js/chatRoomSocket.js")
    script.
        const chatRoom = !{JSON.stringify(chatRoom)};
        const loggedInUser = !{JSON.stringify(loggedInUser)};
        const loggedIn = !{JSON.stringify(loggedIn)};