@import "variables.css";
@import "animations.css";

@import "avatars.css";
@import "chatRoom.css";
@import "roomCard.css";
@import "profile.css";
@import "edit.css";

/* QuickReset */
* {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 8vh;
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  padding: 0;
}

nav {
  margin-bottom: 5vh;
}

.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  overflow: hidden;
}

.home-link {
  margin-bottom: 10px;
  align-items: center;
}

.message {
  --rad: 20px;
  border-radius: var(--rad);
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: fadein 0.5s, fadeout 0.5s 2s ease-in-out forwards;
  animation-delay: 5s;
  font: 18px/1.5 sans-serif;
  color: #fff;
  &.error {
    background: var(--red-gradient);
  }
}
