extends ../base

block content
    img(src=loggedInUser.avatarURL, alt=loggedInUser.name, width="150vh", height="150vh")
    form.editForm(method="POST", enctype="multipart/form-data")
        label(for="name") Name:
        input#name(type="text", name="name", value=loggedInUser.name, maxlength="15")

        label(for="password") Password:
        input#password(type="password", name="password", placeholder="Enter new password", maxlength="20")


        label(for="avatar") Avatar:
        input#avatar(type="file", name="avatar" accept="image/*")
        
        label(for="defaultAvatar") Default Avatar: 
            input#defaultAvatar(type="checkbox", name="defaultAvatar")

        
        button(type="submit") Update Profile

      

