extends ../base

block content
    div.center 
        img(src=loggedInUser.avatarURL, alt=loggedInUser.name, width="200vh", height="200vh")
        br
        br
        form(method="POST", enctype="multipart/form-data")
            label(for="name") Name:
            input#name(type="text", name="name", value=loggedInUser.name)
            
            label(for="email") Email:
            input#email(type="email", name="email", value=loggedInUser.email)

            label(for="avatar") Avatar:
            input#avatar(type="file", name="avatar" accept="image/*")

            button(type="submit") Update Profile