extends ../base

block content
    h2.profile-title= `${user.name}'s Profile`
    if loggedInUser && loggedInUser.id === user.id
        div.profile__links
            div.profile__link
                a(href="edit") Edit
            div.profile__link    
                a(href="delete") Delete 
    div.profile__info
        section
            aside
                div.profile__image-container
                    img(src= user.avatarURL, alt= user.name)
            aside
                label Profile Email:
                span.profile-email= user.email
            aside
                label Account Created:
                span.profile-created= user.createdAt
            aside
                label Last Updated:
                span.profile-updated= user.updatedAt
        
